:host {

    .separator {
        padding: 0 .5rem;
    }

    img.language-flag-btn {
        width: 20px;
        height: auto;
        vertical-align: middle;
        margin-right: .5rem;
    }
}

.mat-menu-item {

    img.language-flag {
        width: 20px;
        height: auto;
        vertical-align: middle;
        margin-right: .5rem;
    }
}