<mat-sidenav-container
    fullscreen
    autosize
    class="sidenav-container">
    <mat-sidenav
        #sidenav
        class="sidenav-left-navigation"
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="!(isHandset$ | async)"
        (openedChange) = "sidenavToggle($event)">
        <fgl-sidenav></fgl-sidenav>
    </mat-sidenav>

    <mat-sidenav-content>
        <fgl-top-nav [sidenav]="sidenav"></fgl-top-nav>
        <router-outlet></router-outlet>
        <!-- Routed views go here -->
    </mat-sidenav-content>
    <fgl-snackbar></fgl-snackbar>
</mat-sidenav-container>