$fgl-dark-primary: mat-palette($mat-blue-grey);
$fgl-dark-accent: mat-palette($mat-grey);

// The warn palette is optional (defaults to red).
$fgl-dark-warn: mat-palette($mat-red);

$fgl-dark-theme: mat-dark-theme(
    $fgl-dark-primary,
    $fgl-dark-accent,
    $fgl-dark-warn
);


.dark-theme {
    mat-sidenav.sidenav-left-navigation {
        background-color: #37474F !important;
    }

    mat-toolbar.sidenav-left-navigation-toolbar,
    mat-sidenav .user-infos {
        background-color: #263238 !important;
    }
}
