<mat-toolbar fxLayout="row" fxLayoutAlign="center center" class="sidenav-left-navigation-toolbar">
  <span class="logo">
    <h3>FROGULAR</h3>
  </span>
</mat-toolbar>
<div *ngIf="(currentUser$ | async) as currentUser" class="user-infos" fxLayout="row" fxLayoutAlign="start center">
  <div class="user-avatar">
      <img [src]="'/assets/img/' + currentUser.profilePicture" alt="avatar">
  </div>
  <div class="user-name" fxFlex>
      {{ currentUser.firstName }} {{ currentUser.lastName }}
  </div>
  <div class="user-btn" *ngIf="currentUser.promotions">
    <button mat-icon-button (click)="toggleUserInfoPanel()">
      <fa-icon [icon]="['fas', isUserInfoPanelOpened ? 'minus-square' : 'plus-square']"></fa-icon>
    </button>
  </div>
</div>
<div *ngIf="(currentUser$ | async) as currentUser">
  <mat-expansion-panel class="user-info-panel" #userInfoPanel>
    <div *ngFor="let promo of currentUser.promotions">
      {{ promo.titreParcours }} : <span class="user-info-panel-libelle"> Promo - {{ promo.libelle }}</span>
    </div>
  </mat-expansion-panel>
</div>

<mat-nav-list>
  <div>
    <h3 matSubheader>application</h3>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header [expandedHeight]="'36px'" [collapsedHeight]="'36px'">
          <mat-panel-title>
            <fa-icon [icon]="['fas', 'tachometer-alt']"></fa-icon>
            Dashboard
          </mat-panel-title>
        </mat-expansion-panel-header>
        <a mat-list-item
          href="#"
          routerLinkActive="active"
          [routerLink]="['dashboard/analytics']">
            <span>Analytics</span>
        </a>
        <a mat-list-item
          href="#"
          routerLinkActive="active"
          [routerLink]="['newsfeed']"
          fxLayout="row">
            <span>Projects</span>
            <span fxFlex="100"></span>
            <mat-chip-list>
                <mat-chip color="accent" selected>3</mat-chip>
            </mat-chip-list>
        </a>
      </mat-expansion-panel>
      <!-- End mat-expansion-panel -->
      <div class="mat-list-item-link">
          <a mat-list-item
          href="#"
          routerLinkActive="active"
          [routerLink]="['library']"
          fxLayout="row">
            <fa-icon [icon]="['fas', 'list-alt']"></fa-icon>
            <span>{{ 'SIDENAV.LIBRARY' | translate }}</span>
            <span fxFlex="100"></span>
          </a>
      </div>
    </mat-accordion>
    <!-- End mat-accordion -->
  </div>
</mat-nav-list>
