:host/deep/ {

    .logo {
        svg {
            max-height: 25px;
        }
    }

    .user-infos {
        padding: 15px;

        .user-avatar {

            img {
                width: 50px;
                height: 50px;
                border-radius: 50%;
            }
        }

        .user-name {
            margin-left: 15px;
            max-width: 200px;
        }
    }

    // mat-expansion-panel.user-info-panel {

    //     .mat-expansion-panel-content .mat-expansion-panel-body {
    //         font-size: .75rem;

    //         &>div {
    //             padding: 0 1rem !important;
    //         }
    //     }
    // }

    mat-nav-list {
        // padding-right: 15px;

        .mat-subheader {
            font-size: 0.625rem !important;
            font-weight: 600;
            text-transform: uppercase;
            white-space: nowrap;
            margin-bottom: 8px !important;
            border-bottom: 1px solid;
            letter-spacing: 1px;
        }

        .mat-list-item {
            border-radius: 0 25px 25px 0;
            height: 36px;

            .mat-list-item-ripple {
                border-radius: 0 25px 25px 0;
            }

            .mat-list-item-content {
                width: 100%;
                font-size: .725rem !important;
                letter-spacing: 1px;
                white-space: nowrap;

                fa-icon {
                    margin-right: 1rem;
                    font-size: 1rem;
                }

                .mat-standard-chip {
                    min-height: 22px !important;
                    font-size: 0.725rem;
                }
            }
        }
    }

    .mat-list-item-link,
    mat-expansion-panel-header {
        margin-right: 15px;
    }

    .mat-expansion-panel {

        .mat-expansion-indicator::after {
            margin-top: -3px;
        }

        mat-expansion-panel-header {
            padding: 0 15px;

            mat-panel-title {
                line-height: 22px;
                font-size: .725rem;
                letter-spacing: 1px;
            }

            &:hover {
                border-radius: 0 25px 25px 0 !important;
            }

            fa-icon {
                margin-right: 1rem;
                font-size: 1rem;
            }
        }

        .mat-expansion-panel-body {
            padding: 10px 15px 10px 0 !important;

            .mat-list-item-content {
                padding-left: 25px;
            }
        }
    }
}