<div class="container" fxLayout="row" fxLayoutAlign="center center">
  <div class="wrapper z-depth-5 hoverable" fxFlexAlign="auto" fxFlex="30">
    <div class="title">
      <span class="">4</span>
      <span><fa-icon [icon]="['fas', 'ghost']"></fa-icon></span>
      <span class="">4</span>
    </div>
    <mat-divider></mat-divider>
    <div class="content">
      <h1>Oops!</h1>
      <h3>Where are we?</h3>
      <p>The page you are looking for was moved, removed, renamed or might never existed.</p>
    </div>
    <div class="actions">
      <button mat-stroked-button [routerLink]="[ '/']">Back home</button>
    </div>
  </div>
</div>